<div class="container-fluid">
<h1>Home Page</h1>
<p>Welcome to blog home page</p>

<%= link_to "Go to About Page", about_path,class:"btn btn-primary" %>
<%= link_to "Blog",posts_path, class:"btn btn-info" %>
</div>